@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Academy App</h1>
    <p class="lead">This app demonstrates a students directory example using C#, ASP.NET, MVC5, AngularJS, and WebAPI.</p>
    <p><a href="/Home/Students" class="btn btn-primary btn-lg">Go To Directory &raquo;</a></p>
</div>