@{
    ViewBag.Title = "Students";
}

<body ng-controller="studentsIndexController as stIndexCtrl">
    <div class="row wrapper">
        <div class="col-lg-10">
            <h2><i class="fa fa-address-book-o" aria-hidden="true"></i> Students Directory</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/Home/Index">Home</a>
                </li>
                <li class="active">
                    <strong>Students</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content" >
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    @*<div class="ibox-title">
                        Students Data Table
                    </div>*@
                    <div class="ibox-content">
                        <div class="container-fluid" >
                            <div class="row">
                                <div class="col-md-12">
                                    <form>
                                        <div class="form-group col-sm-6">
                                            <span class="label label-default">Search/Filter</span>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                                                <input type="text" class="form-control" placeholder="Search" ng-model="search">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"><i class="fa fa-user-plus" aria-hidden="true" ></i> Add Student</button>
                                        </div>
                                        <div class="form-group col-sm-2">
                                            <span class="label label-default">Display per Page</span>
                                            <select class="form-control" ng-model="display" id="sel1" ng-init="display = 10">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                            </select>
                                        </div>
                                    </form>
                                    <table class="table table-hover table-condensed table-responsive" ng-cloak>
                                        <thead>
                                            <tr>
                                                <th>
                                                    <a href="#" ng-click="sortType = 'Id'; sortReverse = !sortReverse" style="text-decoration:none; color:inherit;">
                                                        <i class="fa fa-address-card-o" aria-hidden="true"></i> Student Id
                                                        <span ng-show="sortType == 'Id' && !sortReverse" class="fa fa-caret-down"></span>
                                                        <span ng-show="sortType == 'Id' && sortReverse" class="fa fa-caret-up"></span>
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="#" ng-click="sortType = 'FirstName'; sortReverse = !sortReverse" style="text-decoration:none; color:inherit;">
                                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> First Name
                                                        <span ng-show="sortType == 'FirstName' && !sortReverse" class="fa fa-caret-down"></span>
                                                        <span ng-show="sortType == 'FirstName' && sortReverse" class="fa fa-caret-up"></span>
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="#" ng-click="sortType = 'MiddleInitial'; sortReverse = !sortReverse" style="text-decoration:none; color:inherit;">
                                                        <i class="fa fa-user-circle" aria-hidden="true"></i> Middle Initial
                                                        <span ng-show="sortType == 'MiddleInitial' && !sortReverse" class="fa fa-caret-down"></span>
                                                        <span ng-show="sortType == 'MiddleInitial' && sortReverse" class="fa fa-caret-up"></span>
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="#" ng-click="sortType = 'LastName'; sortReverse = !sortReverse" style="text-decoration:none; color:inherit;">
                                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Last Name
                                                        <span ng-show="sortType == 'LastName' && !sortReverse" class="fa fa-caret-down"></span>
                                                        <span ng-show="sortType == 'LastName' && sortReverse" class="fa fa-caret-up"></span>
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="#" ng-click="sortType = 'DateOfBirth'; sortReverse = !sortReverse" style="text-decoration:none; color:inherit;">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i> Date Of Birth
                                                        <span ng-show="sortType == 'DateOfBirth' && !sortReverse" class="fa fa-caret-down"></span>
                                                        <span ng-show="sortType == 'DateOfBirth' && sortReverse" class="fa fa-caret-up"></span>
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="#" ng-click="sortType = 'CreatedDate'; sortReverse = !sortReverse" style="text-decoration:none; color:inherit;">
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i> Created Date
                                                        <span ng-show="sortType == 'CreatedDate' && !sortReverse" class="fa fa-caret-down"></span>
                                                        <span ng-show="sortType == 'CreatedDate' && sortReverse" class="fa fa-caret-up"></span>
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="#" ng-click="sortType = 'ModifiedDate'; sortReverse = !sortReverse" style="text-decoration:none; color:inherit;">
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i> Modified Date
                                                        <span ng-show="sortType == 'ModifiedDate' && !sortReverse" class="fa fa-caret-down"></span>
                                                        <span ng-show="sortType == 'ModifiedDate' && sortReverse" class="fa fa-caret-up"></span>
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="#" ng-click="sortType = 'ModifiedBy'; sortReverse = !sortReverse" style="text-decoration:none; color:inherit;">
                                                        <i class="fa fa-user-secret" aria-hidden="true"></i> Modified By
                                                        <span ng-show="sortType == 'ModifiedBy' && !sortReverse" class="fa fa-caret-down"></span>
                                                        <span ng-show="sortType == 'ModifiedBy' && sortReverse" class="fa fa-caret-up"></span>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="items in stIndexCtrl.items|orderBy:sortType:sortReverse|filter:search|itemsPerPage:display" ng-cloak>
                                                <td><strong>{{items.Id}}</strong></td>
                                                <td>{{items.FirstName}}</td>
                                                <td>{{items.MiddleInitial | limitTo:1}}</td>
                                                <td>{{items.LastName}}</td>
                                                <td>{{items.DateOfBirth| date:'MMM d yyyy'}}</td>
                                                <td>{{items.CreatedDate| date:'MM/dd/yyyy'}}</td>
                                                <td>{{items.ModifiedDate| date:'MM/dd/yyyy'}}</td>
                                                <td>{{items.ModifiedBy}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Student Entry</h4>
                </div>
                <div class="modal-body">
                    <form name="studentForm">
                        <div class="form-group">
                            <label for="fName">First Name</label>
                            <input type="text" ng-model="stIndexCtrl.student.FirstName" class="form-control" id="fName" placeholder="Enter First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="mI">Middle Initial</label>
                            <input type="text" ng-model="stIndexCtrl.student.MiddleInitial" class="form-control" id="mI" placeholder="Enter Middle Initial" required>
                        </div>
                        <div class="form-group">
                            <label for="lName">Last Name</label>
                            <input type="text" ng-model="stIndexCtrl.student.LastName" class="form-control" id="lName" placeholder="Enter Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="dob">Date of Birth</label>
                            <input type="text" ng-model="stIndexCtrl.student.DateOfBirth" class="form-control" id="dob" placeholder="MM/DD/YYYY" required>
                        </div>
                        <div class="form-group">
                            <label for="user">User</label>
                            <input type="text" ng-model="stIndexCtrl.student.ModifiedBy" class="form-control" id="user" placeholder="Enter Your Name" required>
                        </div>
                    </form>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-disabled="studentForm.$invalid" ng-click="stIndexCtrl.addStudent()">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    @section scripts{
        <script src="~/Scripts/Students/StudentsIndexCtrl.js"></script>
        <script src="~/Scripts/Students/StudentsService.js"></script>
    }
</body>
